# .NET Core
bin/
obj/
*.user
*.suo
*.userosscache
*.sln.docstates

# Visual Studio Code
.vscode/*
!.vscode/settings.json
!.vscode/tasks.json
!.vscode/launch.json
!.vscode/extensions.json
*.code-workspace

# Environment
.env
.env.*

# Logs
log/
logs/
*.log

# Docker/Kube
.dockerignore
!docker-compose.yaml

# OS
.DS_Store
Thumbs.db

# Rider
.idea/

# Others
/grafana_data
/postgres_data
/.vs/AgroSolutions
/.vs/AgroSolutions/CopilotIndices/17.13.444.19527
/.vs/AgroSolutions/DesignTimeBuild
/.vs/AgroSolutions/FileContentIndex
/.vs/AgroSolutions/v17
/.vs/hackton/v17
/.vs/ProjectEvaluation
/.vs/VSWorkspaceState.json
/docs/PROMETHEUS_VIDEO.md
/docs/ALERT_API_AND_RULES.md
