apiVersion: apps/v1
kind: Deployment
metadata:
  name: agro-prometheus
  namespace: default
spec:
  replicas: 1
  selector:
    matchLabels:
      app: agro-prometheus
  template:
    metadata:
      labels:
        app: agro-prometheus
    spec:
      containers:
        - name: prometheus
          image: prom/prometheus:latest
          args:
            - "--config.file=/etc/prometheus/prometheus.yml"
          ports:
            - containerPort: 9090
          volumeMounts:
            - name: prometheus-config
              mountPath: /etc/prometheus/prometheus.yml
              subPath: prometheus.yml
      volumes:
        - name: prometheus-config
          configMap:
            name: prometheus-config
---
apiVersion: v1
kind: Service
metadata:
  name: prometheus
  namespace: default
spec:
  selector:
    app: agro-prometheus
  ports:
    - protocol: TCP
      port: 9090
      targetPort: 9090
---
apiVersion: v1
kind: ConfigMap
metadata:
  name: prometheus-config
  namespace: default
data:
  prometheus.yml: |
    global:
      scrape_interval: 5s

    scrape_configs:
      - job_name: 'prometheus'
        static_configs:
          - targets: ['localhost:9090']

      - job_name: 'identity_service'
        scrape_interval: 5s
        static_configs:
          - targets: ['agro-identity:8080'] 

      - job_name: 'management_service'
        scrape_interval: 5s
        static_configs:
          - targets: ['agro-management:8080']

      - job_name: 'ingestion_service'
        scrape_interval: 5s
        static_configs:
          - targets: ['agro-ingestion:8080']

      - job_name: 'alert_service'
        scrape_interval: 5s
        static_configs:
          - targets: ['agro-alert:8080']
